<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Methodology<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="general-guidance.html">General Guidance</a></li>
      <li><a href="report-generation.html">Report Generation</a></li>
      <li><a href="report-query.html">Report Query</a></li>
      <li><a href="remediation.html">Remediation</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Digital Condition Category (dCC)<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="dcc.html">Specifying dCC</a></li>
      <li><a href="dcc-transition-strategy.html">Transition Strategy</a></li>
    </ul>
  </li>  
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="profiles.html">Profiles</a></li>
      <li><a href="extensions.html">Extensions</a></li>
      <li><a href="operations.html">Operations</a></li>
      <li><a href="terminology.html">Terminology</a></li>
      <li><a href="capabilities.html">Capability Statements</a></li>
    </ul>
  </li>
  <li><a href="examples.html">Examples</a></li>
  <li><a href="glossary.html">Glossary</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="change-log.html">Change Log</a></li>
</ul>
