<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="ra.html">Risk Adjustment</a></li>
  <li><a href="guidance.html">Guidance</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="profiles.html">Profiles</a></li>
      <li><a href="extensions.html">Extensions</a></li>
      <li><a href="operations.html">Operations</a></li>
      <li><a href="terminology.html">Terminology</a></li>
      <li><a href="capabilities.html">Capability Statements</a></li>
    </ul>
  </li>
  <li><a href="examples.html">Examples</a></li>
  <li><a href="glossary.html">Glossary</a></li>  
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="changes.html">Change Notes</a></li>
</ul>
